<%= form_for @post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <% if f.object.link? -%>
    <div>
      <%= f.label :link %>
      <%= f.text_field :link %>
    </div>
  <% end -%>

  <% if f.object.text? -%>
    <div>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
  <% end -%>

  <div>
    <%= f.hidden_field :post_type %>
    <%= f.submit %>
  </div>
<% end %>
